.container__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  min-height: 5rem;
	display: flex;
	font-size: 13px;
	margin-top: 1rem;
}

.user__title {
  margin: 0;
  color: #cd5b9f;
}

.container__info {
	margin-top: 1rem;
}

.user__info {
  color: #545d7a;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-pink {
  background-color: #cd5b9f;
}