<div class="container__home">
	<h2 class="home__tile">It has been used to develop the project:</h2>
	<ul class="home__ul">
		<li class="home__element"><a href="https://angular.io/" target="_blank" rel="noreferrer">Angular</a></li>
		<li class="home__element"><a href="https://graphql.org/" target="_blank" rel="noreferrer">Graphql</a></li>
		<li class="home__element"><a href="https://www.apollographql.com/" target="_blank" rel="noreferrer">Apollo</a></li>
		<li class="home__element"><a href="https://graphqlzero.almansi.me/" target="_blank" rel="noreferrer">Graphqlzero</a></li>
	</ul>
</div>
<!--
	{{ posts | async | json }}
-->
